{% load static %}
<footer style="width: 100%; margin-top: 20px; background-color: rgb(229, 238, 229); padding: 20px;">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <img src="{% static 'img/Garden.png' %}" alt="Logo Img" style="width: 8%; border-radius: 50%;" />
        <div style="display: flex; flex-direction: column; text-align: end;">
            <div>__________________________________________</div>
            <p>Copyright Yummy Garden</p>
        </div>
    </div>
</footer>