{% load static %}
<footer style="width: 100%; margin-top: 20px; background-color: rgb(229, 238, 229); padding: 20px;">
    <div style="display: flex; align-items: center; justify-content: space-between;" class="footer">
        <img src="{% static 'img/Garden.png' %}" alt="Logo Img" style="width: 8%; border-radius: 50%;" class="footer-logo" />
        <address class="contact">
            <p><span>Address: </span><a href="https://www.google.com/maps?q=1+E+123th+st,+New+York,+NY+10035" target="_blank">1 E 123th st, New York, NY 10035</a></p>
            <p><span>Email: </span><a href="mailto:yummyGarden@gmail.com">yummyGarden@gmail.com</a></p>
            <p><span>Phone: </span><a href="tel:888-234-2234">888-888-8888</a></p>
        </address>
        <div style="display: flex; flex-direction: column; text-align: end;" class="copyright">
            <div>__________________________________________</div>
            <p>Copyright Yummy Garden</p>
        </div>
    </div>
</footer>