<footer style="background-color: #EE9972; width: 100%;">
    <nav>
        <ul style="display: flex; flex-direction: row; justify-content: space-evenly; font-size: 26px; font-weight: bold;">
            <li style="display: inline-block; width: 120px;">Home</li>
            <li style="display: inline-block; width: 120px;">About</li>
            <li style="display: inline-block; width: 120px;">Menu</li>
            <li style="display: inline-block; width: 120px;">Book</li>
        </ul>
    </nav>
</footer>