{% load static %}

<header style="display: flex; align-items: center; justify-content: center; gap: 8px;">
    <img src="{% static 'img/Garden.png' %}" alt="Logo Image" style="width: 26%; border-radius: 50%;"/>
    <h1 style="color: #3e583a;">YUMMY GARDEN</h1>
</header>

<footer style="background-color: #3e583a; width: 100%;">
    <nav>
        <ul style="display: flex; flex-direction: row; justify-content: space-evenly; font-size: 26px; font-weight: bold; padding: 12px 0; margin: 0;">
            <li style="display: inline-block; width: 120px;">
                <a href="{% url 'home' %}" style="text-decoration: none; color: white;">Home</a>
            </li>
            <li style="display: inline-block; width: 120px;">
                <a href="{% url 'about' %}" style="text-decoration: none; color: white;">About</a>
            </li>
            <li style="display: inline-block; width: 120px;">
                <a href="{% url 'menu' %}" style="text-decoration: none; color: white;">Menu</a>
            </li>
            <li style="display: inline-block; width: 120px;">
                <a href="{% url 'book' %}" style="text-decoration: none; color: white;">Reservation</a>
            </li>
        </ul>
    </nav>
</footer>

