{% load static %}

<header style="display: flex; align-items: center; justify-content: center; gap: 8px;">
    <img src="{% static 'img/Garden.png' %}" alt="Logo Image" style="width: 22%; border-radius: 50%;"/>
    <h1 style="color: #3e583a;" class="logo-title">YUMMY GARDEN</h1>
</header>

<footer style="background-color: #3e583a; width: 100%;" class="nav-bar">
    <nav>
        <ul class="nav-bar-list">
            <li style="display: inline-block; width: 120px;">
                <a href="{% url 'home' %}" class="nav-bar-menu">Home</a>
            </li>
            <li style="display: inline-block; width: 120px;">
                <a href="{% url 'about' %}" class="nav-bar-menu">About</a>
            </li>
            <li style="display: inline-block; width: 120px;">
                <a href="{% url 'menu' %}" class="nav-bar-menu">Menu</a>
            </li>
            <li style="display: inline-block; width: 120px;">
                <a href="{% url 'book' %}" class="nav-bar-menu">Reservation</a>
            </li>
            <li style="display: inline-block; width: 120px;">
                <a href="{% url 'review' %}" class="nav-bar-menu">Review</a>
            </li>
        </ul>
    </nav>
</footer>

