{% extends 'base.html' %} 
{% block content %}  
<h1>About Us</h1>
<section>
    <article style="font-size: 22px;">
        <p>
            Welcome to Yummy Garden, your go-to destination for authentic Asian cuisine with a modern twist. Our restaurant offers a vibrant dining experience where traditional recipes meet innovative flavors.
        </p>
        <p>
            Explore our diverse menu featuring savory stir-fries, aromatic curries, and hearty noodle bowls. Each dish is crafted with care using the freshest ingredients, ensuring a delightful culinary adventure with every bite.
        </p>
        <p>
            Step into our inviting space and immerse yourself in the warm ambiance, where contemporary design elements blend seamlessly with cultural accents. Whether you're dining with friends, family, or that special someone, our attentive staff is dedicated to making your experience memorable.
        </p>
        <p>
            At Yummy Garden, we're committed to sustainability and supporting local producers, while delivering exceptional service and unforgettable dining moments. Join us and discover the true essence of Asian cuisine, where every dish tells a story and every bite is a delight.
        </p>
    </article>
</section>
<p>{{about}}</p>
{% endblock %}