{% extends 'base.html' %} 
{% load static %}
{% block content %}  
<section class="menu_page">
    <div>
        <ul class="menu_section_btn">
            <li><a href="#main-menu" class="menu_btn">Main Menu</a></li>
            <li><a href="#cocktail" class="menu_btn">Cocktail</a></li>
            <li><a href="#drinks" class="menu_btn">Drinks</a></li>
            <li><a href="#dessert" class="menu_btn">Dessert</a></li>
        </ul>
    </div>
    <!-- main menu -->
    <article id="main-menu">
        <h2>Menu</h2>
        <div class="menu_column">
            {% for item in menu %} 
            <p class="menu_items">
                <a href="{% url 'menu_item' pk=item.pk %}">
                    {{ item.name }}
                </a>
                <span>--</span>
                <span class="menu_price">
                ${{ item.price }}
                </span>
            </p>
            {% endfor %}
        </div>
    </article>  
    <!-- cocktail -->
    <article id="cocktail">
        <h2>Cocktail</h2>
        <div class="cocktails_item">
            {% for cocktail in cocktails %} 
            <p class="cocktail_item">
                <a href="{% url 'cocktail_item' pk=cocktail.pk %}">
                    {{ cocktail.title }}
                </a>
                <span>--</span>
                <span class="cocktail_price">
                    ${{ cocktail.price }}
                </span>
            </p>
            {% endfor %}
        </div>
    </article>
    <!-- drinks -->
    <article id="drinks">
        <h2>Drinks</h2>
        <div class="drinks_item">
            {% for drink in drinks %}
            <p class="drink_item">
                <a href="{% url 'drink_item' pk=drink.pk %}">
                    {{ drink.title }}
                </a>
                <span>--</span>
                <span class="drink_price">
                    ${{ drink.price }}
                </span>
            </p>
            {% endfor %}
        </div>  
    </article>
    <!-- dessert -->
    <article id="dessert">
        <h2>Dessert</h2>
        <div class="desserts_item">
            {% for dessert in desserts %}
            <p class="dessert_item">
                <a href="{% url 'dessert_item' pk=dessert.pk %}">
                    {{ dessert.title }}
                </a>
                <span>--</span>
                <span class="dessert_price">
                    ${{ dessert.price }}
                </span>
            </p>
            {% endfor %}
        </div>
    </article>  
</section>
<div class="go_back">
    <button id="go_back_btn">Back to the top</button>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var goBackBtn = document.getElementById('go_back_btn');
        goBackBtn.addEventListener('click', function() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    });
</script>
{% endblock %}