{% extends 'base.html' %} 
{% load static %}
{% block content %}  
<section class="menu_page">
    <h1>Menu</h1>
    <div class="menu_column">
        {% for item in menu %} 
        <p class="menu_items">
            <a href="{% url 'menu_item' pk=item.pk %}">
                {{ item.name }}
            </a>
            <span>--</span>
            <span class="menu_price">
            ${{ item.price }}
            </span>
        </p>
        {% endfor %}
    </div>
    <h2>Drinks</h2>
    <div class="drinks_item">
        {% for drink in drinks %}
        <p class="drink_item">
            <a href="{% url 'drink_item' pk=drink.pk %}">
                {{ drink.title }}
            </a>
            <span>--</span>
            <span class="drink_price">
                ${{ drink.price }}
            </span>
        </p>
        {% endfor %}
    </div>
    <h2>Dessert</h2>
    <div class="desserts_item">
        {% for dessert in desserts %}
        <p class="dessert_item">
            <a href="{% url 'dessert_item' pk=dessert.pk %}">
                {{ dessert.title }}
            </a>
            <span>--</span>
            <span class="dessert_price">
                ${{ dessert.price }}
            </span>
        </p>
        {% endfor %}
    </div>
</section>
{% endblock %}