{% extends 'base.html' %} 
{% load static %}
{% block content %} 

<section class="menu_item_section" style="width: 96%;">
    <article>
        <h1>Menu Item</h1>
        <span>
            <a href="{% url 'home' %}">Home</a>/
            <a href="{% url 'menu' %}">Menu</a>/
            {{menu_item.name}}
        </span>
        <div class="row">
            <div class="column">
                <h2>
                    {{ menu_item.name }}
                </h2>
                <p>
                    {{ menu_item.description }}
                </p>
                <p>
                    Price: ${{ menu_item.price }}
                </p>
            </div>
            <div class="column">
                <img src="{% static '/img/' %}{{ menu_item.name }}.jpg" alt="{{ menu_item.name }}" class="menu_img" />
            </div>
        </div>
    </article>
</section>
{% endblock %}