{% extends 'base.html' %} 
{% load static %} 
{% block content %} 
<section>
    <article>
        <h1>Review</h1>
        <span>
            <a href="{% url 'home' %}">Home</a>/
            <a href="{% url 'review' %}">Review</a>/
            {{review.first_name}} {{review.last_name}}
        </span>
        <div>
            <div>
                <h2>Review from {{ review.first_name }} {{ review.last_name }}</h2>
                <p>{{ review.review }}</p>
            </div>
            <div class="review_images">
                {% for image in review_images %} 
                <img src="{{ image.image.url }}" alt="Image for {{ review.first_name }} {{ review.last_name }}" class="review_item_img" />
                {% endfor %}
            </div>
        </div>
    </article>
</section>
<style>
    section {
        box-shadow: 2px 2px 2px 2px rgb(204, 203, 203);
    }
    article {
        padding: 20px;
    }
    .review_images {
       display: flex;
       gap: 10px;
    }
    .review_item_img {
        width: 20%;
    }
    @media screen and (max-width: 767px) {
        .review_images {
            display: grid;
            grid-template-columns: repeat(2, 2rf);
        }
    }
</style>
{% endblock %}