{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<section class="review-section">
    <h2>Reviews</h2>
    <div class="review_menu">
        <a href="{% url 'submit_review' %}" class="review_btn_link">
            <button class="write_review_btn"><span class="review_emoji">&#128221;</span>Write a review</button>
        </a>
    </div>
    <article >
        <div class="review_column" >
            {% for review in reviews %}
            <div class="review_item">
                <div class="user">
                    <span class="icon">&#128100;</span>
                    <a href="{% url 'review_item' pk=review.pk %}">{{ review.first_name }} {{ review.last_name }}</a>
                </div>
                <p>{{ review.created_at|time_since }}</p> 
                <p>{{ review.review }}</p>
                <div class="review_images">
                    {% for image in review.images.all %}
                    <img src="{{ image.image.url }}" alt="Image for {{ review.first_name }} {{ review.last_name }}" class="review_img"/>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </article>
</section>
<style>
    .review-section {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .review_item {
        display: flex;
        box-shadow: 2px 2px 2px 2px rgb(204, 203, 203);
        padding: 20px;
    }
    .review_item {
        display: flex;
        flex-direction: column;
    }
    .review_btn_link {
        text-decoration: none;
    }
    .write_review_btn {
        background-color: white;
        border: none;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 24px;
        border-radius: 10px;
    }
    .write_review_btn:hover {
        border: none;
        box-shadow: 2px 2px 2px 2px rgb(204, 203, 203);
        padding: 4px;
        color: #3e583a;
    }
    .icon {
        font-size: 36px;
        background-color: rgba(229, 238, 229, 0.4);
        padding: 6px;
        border-radius: 50%;
    }
    .user {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .user a:hover {
        color: #3e583a;
    }
    .user a {
        text-decoration: none;
        color: black;
    }
    .review_images {
        display: flex;
        gap: 8px;
    }
    .review_img {
        width: 20%;
    }
</style>

{% endblock %}
