{% extends 'base.html' %}
{% load static %}
{% block content %} 
<section class="submit_review_section">
    <h2>Submit Review</h2>
    <span>
        <a href="{% url 'home' %}">Home</a>/
        <a href="{% url 'review' %}">Menu</a>
    </span>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ review_form.as_p }}
        {{ formset.management_form }}
        {% for form in formset %} 
            {{ form.as_p }}
        {% endfor %}
        <button type="submit" class="submit_review_btn">Submit Review</button>
    </form>
    <a href="{% url 'review' %}"><button class="cancel_review_btn">Cancel</button></a>
</section>
<style>
    input {
        padding: 2px;
        padding-left: 4px;
        font-size: 20px;
    }
    .submit_review_btn {
        font-size: 20px;
        padding: 4px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #3e583a;
        color: white;
        border-radius: 10px;
    }
    .submit_review_btn:hover {
        background-color: white;
        color: #3e583a;
    }
    .cancel_review_btn {
        width: 100px;
        margin-top: 20px;
        padding: 4px;
        font-size: 20px;
        border-radius: 10px;
    }
    .cancel_review_btn:hover {
        background-color: gray;
        color: white;
    }

</style>
{% endblock %}